 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 839px;
}

.u-section-1 .u-text-1 {
  margin: 119px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 220px auto 0;
  padding: 26px 200px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 60px;
  padding: 26px 216px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 81px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -13px;
    padding-right: 133px;
    padding-left: 132px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -48px;
    margin-right: -48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -132px;
    padding-left: 51px;
    padding-right: 51px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -148px;
    margin-right: -148px;
  }
}